<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>
              </ion-item>

              <ion-button shape="round" expand="block" (click)="loginEmail()">Login</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
